*{
    margin: 0;
    padding: 0;
}

body #main_grille{
    display: flex;
    align-items: center;
    justify-content: center;
}

#grille{
    margin-top: 5vh;
    margin-left: 5vh;
}

.ligne{
    display: flex;
    align-items: center;
}

.cell{
    width: 5vh;
    height: 5vh;
    font-size: 3vh;
    padding: 1vh;
    text-align: center;
    line-height: 5vh;
    vertical-align: middle;
}

.orange{
    background-color: orange;
    border-radius: 50%;
}

.green{
    background-color: greenyellow;
    border-radius: 50%;
}

#nv_numero{
    width: 50vh;
    margin-left: 10vh;
    font-size: 50vh;
    text-align: center;
}

#aide{
    text-align: center;
    margin-top: 2em;
    font-size: 2em;
}